:root{
    --bgColor: #FF0052;
    --shadow: inset 0 0 0 1px white, 0em 0em 10px rgb(200 0 0);
}


* {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
    color: white;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url("img/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
main{
    /* margin-top: 5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80%;
    flex-wrap: wrap;
    /* border: 3px solid black; */
}
.player-sel, .comp-sel{
    appearance: none;
    width: 18rem;
    height: 18rem;
    background-image: url("./img/against-player.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 3px solid black; */
    border-radius: 2rem;
}
.comp-sel{
    background-image: url("./img/against-comp.png");
    width: 18rem;
    height: 18rem;
    background-size: contain;
    background-position: 0 38px;
}
.player-sel:checked, .comp-sel:checked{
    box-shadow: var(--shadow);
}
.btn{   
    background-color: var(--bgColor);
    border-radius: 1em;
    padding: 1rem 2em;
    font-size: 2rem;
    border: 0;
}
.btn:hover{
    box-shadow: var(--shadow);
}
.button-div{
    /* border: 3px solid black; */
    width: 100%;
    text-align: center;
}
.exit{
    background-color: #8A5F41;
    margin-top: 2rem;
}
.play{
    background-color: #008000;
    margin-top: 2rem;
}
.form {
    background-color: #00800080;
    border-radius: 20px;
    box-sizing: border-box;
    /* height: 500px; */
    padding: 20px;
    width: 360px;
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-top: 30px;
}
.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2, .ic3, .ic4{
    margin-top: 30px;
}

.input {
    /* background-color: #303245; */
    color: #555;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    font-size: 2rem;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}
.player-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    pointer-events: none;
}
.cut {
    /* background-color: #15172b; */
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: #555;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
    
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-40px) translateX(-10px) scale(1);
}


.input:focus~.placeholder {
    color: white;
}
fieldset{
    text-align: left;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    border: none;
    display: flex;
    justify-content: space-between;
}
@media (width<400px){
    *{font-size: 16px}
    .opponent-radio{
        display: flex;
        flex-direction: column;
    }
}
@media (width < 800px) {
    *{
        font-size: 20px;
    }
    body{
        background: none;
        overflow: scroll;
    }
    main{
        margin: 0;
    }
    .player-sel,
    .comp-sel {
        width: 8rem;
        height: 8rem;
    }
    .comp-sel{
        background-position: 0 15px;
    }
    .btn {
        padding: 0.5rem 1.5em;
        font-size: 1.5rem;
    }
}
.game-div{
    display: grid;
    /* align-items: flex-end; */
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 15rem 1fr 15rem;
    height: 100%;
}
.game-board{
    width: 50rem;
    height: 50rem;
    background-image: url("img/board2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 4rem solid #653606;
    
}
.grid-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
.pl-col{
    height: 50rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.pl-row{
    width: 100%;
    background-color: #00000099;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

}
.name{
    text-wrap: wrap;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
.pl{
    height: 4rem;
    width: 4rem;
    
}
.dice{
    margin-top: 0.5rem;
    border: 2px solid white;
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
    background: none;
}
.turn{
    background-image: url("img/dice1.png");
    background-size: contain;
}
.game-nav {
    width: 100%;
    text-align: center;
    /* align-self: flex-start; */
    background-color: #8A5F4190;
    grid-area: 1/1/2/4;
}

.game-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%
}

.game-nav ul li {
    list-style: none;
    font-size: 2rem;
    height: 100%;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-nav ul li:hover {
    background-color: #00000099;
}